In [1]:
#Dependences
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
# Take in all of our CitiBike data and read it into pandas
jan_2020 = "../Resources/JC-202001-citibike-tripdata.csv"
feb_2020 = "../Resources/JC-202002-citibike-tripdata.csv"
mar_2020 = "../Resources/JC-202003-citibike-tripdata.csv"
apr_2020 = "../Resources/JC-202004-citibike-tripdata.csv"
may_2020 = "../Resources/JC-202005-citibike-tripdata.csv"
jun_2020 = "../Resources/JC-202006-citibike-tripdata.csv"
jul_2020 = "../Resources/JC-202007-citibike-tripdata.csv"
aug_2020 = "../Resources/JC-202008-citibike-tripdata 2.csv"

jan_2020_df = pd.read_csv(jan_2020)
feb_2020_df = pd.read_csv(feb_2020)
mar_2020_df = pd.read_csv(mar_2020)
apr_2020_df = pd.read_csv(apr_2020)
may_2020_df = pd.read_csv(may_2020)
jun_2020_df = pd.read_csv(jun_2020)
jul_2020_df = pd.read_csv(jul_2020)
aug_2020_df = pd.read_csv(aug_2020)

jul_2020_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2333,2020-07-01 00:23:19.8220,2020-07-01 01:02:13.2980,3694,Jackson Square,40.711130,-74.078900,3276,Marin Light Rail,40.714584,-74.042817,42579,Customer,1969,0
1,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,42564,Subscriber,1965,1
2,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42219,Subscriber,1994,1
3,1488,2020-07-01 00:51:07.5310,2020-07-01 01:15:56.0200,3677,Glenwood Ave,40.727551,-74.071061,3194,McGinley Square,40.725340,-74.067622,44424,Subscriber,1995,2
4,2682,2020-07-01 00:51:16.3880,2020-07-01 01:35:58.4590,3191,Union St,40.718211,-74.083639,3193,Lincoln Park,40.724605,-74.078406,42186,Subscriber,1993,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38675,1003,2020-07-31 23:51:37.3790,2020-08-01 00:08:20.6900,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3277,Communipaw & Berry Lane,40.714358,-74.066611,42145,Subscriber,1977,1
38676,165,2020-07-31 23:56:33.6770,2020-07-31 23:59:18.8610,3198,Heights Elevator,40.748716,-74.040443,3196,Riverview Park,40.744319,-74.043991,44334,Subscriber,1991,1
38677,382,2020-07-31 23:56:55.9860,2020-08-01 00:03:18.8390,3209,Brunswick St,40.724176,-74.050656,3275,Columbus Drive,40.718355,-74.038914,42154,Subscriber,1984,1
38678,674,2020-07-31 23:57:58.0150,2020-08-01 00:09:12.0420,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,45366,Customer,1994,2
38679,1007,2020-07-31 23:58:06.3070,2020-08-01 00:14:53.3340,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,42139,Subscriber,1982,1

In [21]:
# combine into one DF
combined_CitiBike_df = pd.merge(jan_2020_df, feb_2020_df, how='outer')
combined_CitiBike_df

combined_CitiBike_df3 = pd.merge(combined_CitiBike_df, mar_2020_df, how='outer')
combined_CitiBike_df3

combined_CitiBike_df4 = pd.merge(combined_CitiBike_df3, apr_2020_df, how='outer')
combined_CitiBike_df4

combined_CitiBike_df5 = pd.merge(combined_CitiBike_df4, may_2020_df, how='outer')
combined_CitiBike_df5

combined_CitiBike_df6 = pd.merge(combined_CitiBike_df5, jun_2020_df, how='outer')
combined_CitiBike_df6

combined_CitiBike_df7 = pd.merge(combined_CitiBike_df6, jul_2020_df, how='outer')
combined_CitiBike_df7

combined_CitiBike_df8 = pd.merge(combined_CitiBike_df7, aug_2020_df, how='outer')
combined_CitiBike_df8

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219909,162,2020-08-31 23:43:15.8540,2020-08-31 23:45:58.4550,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,44787,Subscriber,1977,1
219910,400,2020-08-31 23:46:19.9130,2020-08-31 23:53:00.3610,3481,York St,40.716490,-74.041050,3187,Warren St,40.721124,-74.038051,19153,Subscriber,1986,1
219911,288,2020-08-31 23:47:16.8680,2020-08-31 23:52:05.5550,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,42434,Subscriber,1960,1
219912,199,2020-08-31 23:50:37.2650,2020-08-31 23:53:56.9490,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,44226,Subscriber,1994,1
219913,333,2020-08-31 23:55:30.8050,2020-09-01 00:01:04.4110,3211,Newark Ave,40.721525,-74.046305,3270,Jersey & 6th St,40.725289,-74.045572,42437,Subscriber,1984,2